#framework/protocol/linkkit/sdk/iotx-sdk-c_clone
out
prebuild/*
Living_SDK/diff.txt
Living_SDK/trace_test
Living_SDK/activate
Living_SDK/out
Living_SDK/*.out
Living_SDK/*.db
Living_SDK/.gdbinit
Living_SDK/.gdbinitkernel
Living_SDK/.gdbinitframework
Living_SDK/.gdbinitapp
Living_SDK/.openocd_cfg
Living_SDK/copy_bootloader_output_for_eclipse
Living_SDK/copy_output_for_eclipse
Living_SDK/*.sw*
Living_SDK/build/compiler
Living_SDK/build/OpenOCD
Living_SDK/si
Living_SDK/.cproject
Living_SDK/.project
Living_SDK/*.pyc
Living_SDK/aos_partition_*.bin
Living_SDK/OSX
Living_SDK/example/flash/flash.mk
Living_SDK/example/flash/main.c
Living_SDK/example/flash/README.md
Living_SDK/settings.json
Living_SDK/build/cmd/win32/Python27/Lib/encodings/*.pyc
Living_SDK/*.d
Living_SDK/build/scripts/config_mk.py
Living_SDK/build/scripts/*.pyc
Living_SDK/$Recycle.Bin
Living_SDK/.sconsign.dblite
Living_SDK/ckhobbit*.map
Living_SDK/projects/autogen/*
Living_SDK/framework/protocol/linkkit/sdk/iotx-sdk-c_clone/ENV_VARS.tmp
Living_SDK/framework/protocol/linkkit/sdk/iotx-sdk-c_clone/objlist.tmp
Living_SDK/framework/protocol/linkkit/sdk/iotx-sdk-c_clone/make.settings
# source sight project files
Living_SDK/*.IAB
Living_SDK/*.IAD
Living_SDK/*.IMB
Living_SDK/*.IMD
Living_SDK/*.PFI
Living_SDK/*.PO
Living_SDK/*.PR
Living_SDK/*.PRI
Living_SDK/*.PS
Living_SDK/*.SearchResults
Living_SDK/*.WK3
Living_SDK/GPATH
Living_SDK/GRTAGS
Living_SDK/GTAGS
Living_SDK/tags
# MAC OS
.DS_Store
._.DS_Store
# BSP
Living_SDK/platform/mcu/rtl8710bn/Debug
Living_SDK/example/smart_led_strip
Living_SDK/example/smart_led_bulb
Living_SDK/example/smart_outlet
Living_SDK/example/smart_outlet_meter
Living_SDK/example/living_platform
Living_SDK/example/comboapp
.gdbinit
cscope.in.out
cscope.out
cscope.po.out
tags
*.mk_old
.vscode
