

chips/tg7100c/conf/iot.toml
chips/tg7100c/conf/mcu.toml
chips/tg7100c/conf/storage.toml

chips/tg7100c/device_tree/ro_params.dtb

chips/tg7100c/eflash_loader/eflash_loader_24m.bin
chips/tg7100c/eflash_loader/eflash_loader_26m.bin
chips/tg7100c/eflash_loader/eflash_loader_32m.bin
chips/tg7100c/eflash_loader/eflash_loader_38p4m.bin
chips/tg7100c/eflash_loader/eflash_loader_40m.bin
chips/tg7100c/eflash_loader/eflash_loader_cfg.ini
chips/tg7100c/eflash_loader/eflash_loader_none.bin
chips/tg7100c/eflash_loader/eflash_loader_openocd.bin
chips/tg7100c/eflash_loader/eflash_loader_rc32m.bin

chips/tg7100c/efuse_bootheader/*.ini
chips/tg7100c/efuse_bootheader/*.bin

chips/tg7100c/img_create_iot/bootinfo.bin
chips/tg7100c/img_create_iot/bootinfo_boot2.bin
chips/tg7100c/img_create_iot/bootinfo_mfg.bin
chips/tg7100c/img_create_iot/img.bin
chips/tg7100c/img_create_iot/img_boot2.bin
chips/tg7100c/img_create_iot/img_boot2_withhash.bin
chips/tg7100c/img_create_iot/img_create_cfg
chips/tg7100c/img_create_iot/img_create_cfg.ini
chips/tg7100c/img_create_iot/img_create_cfg_boot2
chips/tg7100c/img_create_iot/img_create_cfg_boot2.ini
chips/tg7100c/img_create_iot/img_create_cfg_mfg
chips/tg7100c/img_create_iot/img_create_cfg_mfg.ini
chips/tg7100c/img_create_iot/img_mfg.bin
chips/tg7100c/img_create_iot/img_mfg_withhash.bin
chips/tg7100c/img_create_iot/img_withhash.bin
chips/tg7100c/img_create_iot/media.bin
chips/tg7100c/img_create_iot/whole_flash_data.bin
chips/tg7100c/img_create_iot/whole_img.bin            
chips/tg7100c/img_create_iot/whole_img_boot2.bin
chips/tg7100c/img_create_iot/whole_img_mfg.bin
chips/tg7100c/img_create_iot/whole_img.pack
chips/tg7100c/img_create_iot/efuse_bootheader_cfg.ini
chips/tg7100c/img_create_mcu/img_create_cfg.ini
chips/tg7100c/img_create_mcu/img_create_cfg.conf
chips/tg7100c/img_create_mcu/img_create_cfg_boot2.conf
chips/tg7100c/img_create_mcu/img_create_cfg_mfg.conf

chips/tg7100c/ota/FW_OTA.bin
chips/tg7100c/ota/FW_OTA.bin.ota
chips/tg7100c/ota/FW_OTA.bin.xz
chips/tg7100c/ota/FW_OTA.bin.xz.hash
chips/tg7100c/ota/FW_OTA.bin.xz.ota
chips/tg7100c/ota/FW_OTA.bin.hash
chips/tg7100c/partition/partition.bin

flash.bin
chips/tg7100c/buildout/*
log/*
nohup.out
firmware.bin
