

tg7100c/conf/iot.toml
tg7100c/conf/mcu.toml
tg7100c/conf/storage.toml

tg7100c/device_tree/ro_params.dtb

tg7100c/eflash_loader/eflash_loader_24m.bin
tg7100c/eflash_loader/eflash_loader_26m.bin
tg7100c/eflash_loader/eflash_loader_32m.bin
tg7100c/eflash_loader/eflash_loader_38p4m.bin
tg7100c/eflash_loader/eflash_loader_40m.bin
tg7100c/eflash_loader/eflash_loader_cfg.ini
tg7100c/eflash_loader/eflash_loader_none.bin
tg7100c/eflash_loader/eflash_loader_openocd.bin
tg7100c/eflash_loader/eflash_loader_rc32m.bin

tg7100c/efuse_bootheader/*.ini
tg7100c/efuse_bootheader/*.bin

tg7100c/img_create/bootinfo.bin
tg7100c/img_create/bootinfo_boot2.bin
tg7100c/img_create/bootinfo_mfg.bin
tg7100c/img_create/img.bin
tg7100c/img_create/img_boot2.bin
tg7100c/img_create/img_boot2_withhash.bin
tg7100c/img_create/img_create_cfg
tg7100c/img_create/img_create_cfg.ini
tg7100c/img_create/img_create_cfg_boot2
tg7100c/img_create/img_create_cfg_boot2.ini
tg7100c/img_create/img_create_cfg_mfg
tg7100c/img_create/img_create_cfg_mfg.ini
tg7100c/img_create/img_mfg.bin
tg7100c/img_create/img_mfg_withhash.bin
tg7100c/img_create/img_withhash.bin
tg7100c/img_create/media.bin
tg7100c/img_create/whole_flash_data.bin
tg7100c/img_create/whole_img.bin            
tg7100c/img_create/whole_img_boot2.bin
tg7100c/img_create/whole_img_mfg.bin
tg7100c/img_create/whole_img.pack

tg7100c/img_create2/img_create_cfg.ini

tg7100c/ota/FW_OTA.bin
tg7100c/ota/FW_OTA.bin.ota
tg7100c/ota/FW_OTA.bin.xz
tg7100c/ota/FW_OTA.bin.xz.hash
tg7100c/ota/FW_OTA.bin.xz.ota
tg7100c/partition/partition.bin

buildout/*
flash.bin
tg7100c/buildout/*
log/*
nohup.out

